<form [formGroup]="myForm" (ngSubmit)="onSubmit()">
  <div class="container">
    <div class="card text-center">
      <div class="card-header">
        <h3> Cascading Dropdown</h3>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="form-group col col-4">
            <ng-multiselect-dropdown [placeholder]="'Select Country'" [data]="countries" formControlName="country"
              [settings]="dropdownSettings1" (onSelect)="onSelectCountry($event)"
              (onDeSelect)="deselectCountry($event)">
            </ng-multiselect-dropdown>
          </div>
          <div class=" formGroup col col-4">
            <ng-multiselect-dropdown [placeholder]="'Select State'" [data]="filteredStates" formControlName="state"
              [settings]="dropdownSettings" (onSelect)="onStateSelect($event)" (onDeSelect)="onStateDeSelect($event)">
            </ng-multiselect-dropdown>
          </div>
          <div class=" formGroup col col-4">
              <div class="form-group" *ngFor="let city of storeCities; let i = index">
                  <input type="checkbox" value="chkbox" [checked]="false" (change)="saveItem(city,i)">
                  {{ city }}
                </div>
            </div>
        </div>

      </div>
      <div class="card-footer">
        <div class="form-group" align="center">
          <div class="col-sm-8">
            <button class="btn btn-default btn-md my-1" [disabled]="!myForm.valid">Submit</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
<router-outlet></router-outlet>